.index-title {
	width: 1200px;
	height: 30px;
	line-height: 30px;
	margin: 30px auto;

	.title-text {
		float: left;
		font-size: 20px;
	}

	.title-lk {
		float: right;
		font-size: 14px;
		color: #999;
	}
}