.carousel-indicator {
	position: absolute;
	bottom: 10px;
	right: -60px;
	z-index: 1;
	width: 140px;
	height: 24px;
	margin-left: 0;

	.indicator-list {
		width: 60px;
		height: 22px;
	}

	.indicator-item {
		float: left;
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, .6);
    cursor: pointer;

		&.current {
			background-color: #fff;
			border-color: #fff;
		}
	}
}