.footer {
  min-width: 1200px;
  height: 180px;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: #444547;
  color: #777;
  text-align: center;
  font-size: 12px;

  .iconfont {
    font-size: 40px;
  }

  p {
    margin-top: 5px;
  }
}
