.header-logo {
  display: inline-block;
  width: 192px;
  height: 80px;
  background: url('//8.url.cn/edu/edu_modules/edu-ui/img/bg/logo192-3x.e89120ba.png#unsprite')
    no-repeat;
  background-size: 192px 80px;
}
